# Database Configuration
DB_HOST=aaaaaaaaaaaa
DB_PORT=aaaaaaaaaaaaaaaaaaaa
DB_USER=aaaaaaaaaaaaaaa
DB_PASSWORD=aaaaaaaaaaaaaaaaaaaaaaaaaaaa
DB_NAME=aaaaaaaaaaa
SSL_Mode=aaaaaaaaaaaaaaaa

# Server Configuration
SERVER_HOST=aaaaaaaaaaaaaaa
SERVER_PORT=aaaaaaaaaaa

# CORS Configuration
CORS_ALLOW_ORIGINS=aaaaaaaaaaaaaaaa
CORS_ALLOW_METHODS=aaaaaaaaaa
CORS_ALLOW_HEADERS=aaaaaaaaaaaaaa
CORS_ALLOW_CREDENTIALS=aaaaaaaaaaaa

# JWT Configuration
JWT_SECRET=aaaaaaaaaaaaaaaaaa

# Supabase Configuration
SUPABASE_URL=aaaaaaaaaaaaaaaaaa
SUPABASE_SERVICE_ROLE_KEY=aaaaaaaaaaaaa
SUPABASE_BUCKET=aaaaaaaaaaaaaaaaaaaaa

# Email Configuration
EMAIL_HOST=aaaaaaaaaaaaaaaaaaaaaaaaaaaaa
EMAIL_PORT=aaaaaaaaaaaaaaaaa
SENDER_EMAIL=aaaaaaaaaaaaaaaaaaaaaaaaaaaa
APP_PASSWORD=aaaaaaaaaaaaaaaa
